.container {
  /*Gral.*/
  width: 90%;
  max-width: 2000px;
  border: 10px solid black;
  margin: auto;
  font-size: 25px;
  line-height: 25px;
  text-align: center;

  /*Grid*/
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-template-rows: repeat(6, 1fr);

}

.container>div {
  display: block;
  padding: 20px;
  color: white;
  background: aquamarine;

}

.container .item {
  background: orange;
  grid-column-start: 1;
  grid-column-end: 3;

  /* grid-row: 1/-1; */
  grid-row: span 4
}